@font-face {
    font-family: 'Mona Sans Regular';
    src: url('/assets/fonts/MonaSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,
body {
    max-width: 100%;
    font-family: 'Mona Sans Regular', sans-serif;
    font-variation-settings: 'wght' 400;
    line-height: 1.6;
    color: #222222;
    background: #0d1116;
    margin: 0;
    overflow-x: hidden;
    margin: 0 auto;
}


/* MENU */

nav {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: #E2E8F0;
    border-bottom: 1px solid #9298a0;
    background: #0d1116;
    z-index: 1000;
    padding: 0.5rem 0;
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
    height: 6vh;
    align-items: center;
}

nav a {
    margin: 0 1rem;
    text-decoration: none;
    color: #9298a0;
    text-transform: uppercase;
}

nav a:hover {
    color: white;
}


/* HEADER */

header {
    margin: auto;
    background: #0d1116;
    color: #fff;
    padding: 7em 14rem 2rem;
    text-align: center;
    border-bottom: 1px solid #9298a0;
    width: 100%;
    ;
}

header a {
    color: #5793f1;
    text-decoration: none;
}

header a:hover {
    color: white;
}

header a:hover {
    text-decoration: underline;
}


/* TITLES */


header h1 {
    font-family: 'Mona Sans Regular', sans-serif;
    text-transform: uppercase;
    font-size: 2.5vw;
    margin: auto auto 0.8rem;
    letter-spacing: 3px;
    text-align: center;
    line-height: 1.4;
    width: 100%;
}

header .contact {
    font-weight: 600;
    letter-spacing: 0.5px;
    color: rgb(194, 200, 209);
    text-align: center;
    line-height: 1.4;
    width: 100%;
    text-align: center;
    margin: auto;
}

header p {
    line-height: 1.5;
    width: 100%;
    text-align: center;
    margin: 1rem auto;
    color: #EDF2F7;
    text-align: center;
}


/* SECTION */

section {
    max-width: 70%;
    padding: 4rem 2rem 2rem;
    margin: 2rem auto;
    background: #0d1116;
    border-radius: 15px;
    border: 1px solid #9298a0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section h2 {
    margin-bottom: 1rem;
    color: white;
    font-size: 3.5vh;
}


.section-des {
    font-size: 1.2vw;
    width: 100%;
    margin-bottom: 2rem;
    color: rgb(194, 200, 209);
}

nav a,
.project .description h3,
.project p,
header p {
    font-size: 1.1vw;
}

/* Stack */
.tech-stack {
    width: fit-content;
    display: flex;
    overflow-x: auto;
    flex-wrap: wrap;
    justify-content: start;
    gap: 0.3rem;
    margin-top: 0.5rem;
    padding: 0;
    align-items: left;
}

.tech-stack img {
    height: 2.2vw !important;
    width: 2.2vw !important;
    display: flex;
    object-fit: contain;
    transition: filter 0.3s ease;
    border: none;
}

.tech-stack img:hover {
    filter: brightness(1.2);
}


/* PROJECT */

.project-gallery {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.project {
    padding: 4%;
    background: #0d1116;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid white;
}


/* IMAGE */

.screenshot {
    width: 100%;
    height: 25vh;
    border-radius: 15px;
    border: 1px solid white;
    display: block;
    image-resolution: 100%;
    margin: 0 auto;
    object-fit: cover;
    object-position: top center;
}

.project .description {
    text-align: left;
    padding: 0.2rem;
    line-height: 1.8;
}

.project .description h3 {
    color: white;
    margin-top: 5%;
}

.project .description p {
    color: rgb(194, 200, 209);
}

.project a {
    color: #5793f1;
    display: inline-flex;
    flex-wrap: nowrap;
    margin: 0.8rem 0.8rem auto 0.1rem;
    font-size: 0.8vw;
}

.project a:hover {
    color: white;
}


/* FOOTER */

footer {
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
    background: #0d1116;
    color: #E2E8F0;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4rem auto 0;
    font-weight: 500;
    border-top: 1px solid #9298a0;
}


/* Responsive */

@media(max-width: 1300px) {

    header {
        padding: 7rem 1.5rem 2rem;
    }

    section {
        max-width: 80%;
    }

    .section-des {
        font-size: 1.4vw;
        width: 90%;
    }

    nav a,
    .project .description h3,
    .project p,
    header p {
        font-size: 1.4vw;
    }

    .project a {
        margin-top: 0.8rem;
        font-size: 1.1vw;
    }

    .my-des {
        width: 90%;
        padding-top: 1rem;
    }

    header h1 {
        font-size: 3vw;
    }

    .tech-stack img {
        height: 2.5vw !important;
        width: 2.5vw !important;
    }


}


@media(max-width: 1024px) {

    header {
        padding: 7rem 1.2rem 2rem;
    }

    header h1 {
        font-size: 3.8vw;
        letter-spacing: 0.5px;
    }

    .section-des {
        font-size: 1.8vw;
        width: 98%;
    }

    nav a,
    .project .description h3,
    .project p,
    header p {
        font-size: 2vw;
    }

    .project a {
        margin-top: 0.5rem;
        font-size: 1.4vw;
    }


    .tech-stack img {
        height: 2.1vw !important;
        width: 2.1vw !important;
    }


    @media(max-width: 720px) {

        .tech-stack img {
            height: 4vw !important;
            width: 4vw !important;
        }

        .project a {
            margin-top: 0.5rem;
            font-size: 2vw;
        }

        .project-gallery {
            grid-template-columns: 1fr;
        }

        .section-des {
            font-size: 2.2vw;
        }

        .my-des {
            width: 95%;
            font-size: 2.2vw;
            padding-top: 0.5rem;
        }

        nav a,
        .project .description h3,
        .project p,
        header p {
            font-size: 2.2vw;
        }

    }



    @media(max-width: 520px) {

        header {
            padding: 6.5rem 1rem 1.5rem;
        }

        header h1 {
            font-size: 4vw;
            letter-spacing: 1px;
            width: 100%;
            line-height: 1.5;
        }

        section h2 {
            font-size: 3vh;
            width: 100%;
        }


        header .contact {
            font-size: 2.5vw;
        }

        .project-gallery {
            grid-template-columns: 1fr;
        }

        .section-des {
            font-size: 2.5vw;
            width: 100%;
        }

        .tech-stack img {
            height: 4.5vw !important;
            width: 4.5vw !important;
        }

        nav a,
        .project .description h3,
        .project p,
        header p {
            font-size: 2.8vw;
        }

        .project a {
            margin-top: 0.5rem;
            font-size: 2.5vw;
        }


    }



}