@font-face {
    font-family: 'metropolis';
    src: url('assets/fonts/metropolis.otf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'cocogoose-light';
    src: url('assets/fonts/cocogoose-light.ttf') format('truetype');
    font-display: swap;
}

@keyframes fadeInPage {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeInProject {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

:root {
    --body-blue: conic-gradient(from 180deg at center,
            #6a9aa8,
            #7ea7b2,
            #68939e,
            #567c85,
            #6a9aa8);

    --blue-dark: #1d2a36;

    --cta: #29987e;
    --cta-light: rgba(41, 152, 126, 0.2);
    --cta-shine: rgba(41, 152, 126, 0.4);

    --text-darkest: #424546;
    --app-white: #e1ecf2;
    --text-red: #cc141e;

    --white-shadow-20: rgba(255, 255, 255, 0.5);
    --white-shadow-10: rgba(255, 255, 255, 0.2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    max-width: 100%;
    font-family: 'metropolis', sans-serif;
    background: var(--body-blue);
    overflow-x: hidden;
    margin: 0 auto;
    opacity: 0;
    animation: fadeInPage 1s ease-in-out forwards;
    scroll-behavior: smooth;
}

.layout-container {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0 auto 1rem auto;
}

/* Nav Menu */
nav {
    font-family: 'cocogoose-light', sans-serif;
    display: flex;
    justify-content: center;
    gap: 6rem;
    padding: 1rem 0 1rem;
    text-transform: uppercase;
    width: 100%;
    position: fixed;
    background-color: var(--blue-dark);
    z-index: 2;
}

a {
    letter-spacing: 3px;
    text-decoration: none;
}

nav a {
    font-size: 12px;
    color: var(--app-white);
}

nav a:hover {
    color: white;
}

.contact,
.contact a {
    font-size: 19px;
    color: var(--text-darkest);
    margin: 0.5rem 0;
    white-space: nowrap;
}

/* Header */
header {
    position: relative;
    padding-top: 7rem;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0.5rem 0 1.5rem 0;
    overflow: hidden;
    z-index: 0;
}

/* Background */
header video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    object-fit: cover;
    z-index: -2;
}

/* Overlay */
header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #53a7cb 0%, var(--app-white) 100%);
    opacity: 0.7;
    z-index: -1;
}

header,
.profile-section,
.tech-stack-header,
.tech-icon {
    position: relative;
    z-index: 1;
}

/* About */
.profile-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.headshot {
    width: 150px;
    padding: 0;
    height: 150px;
    margin: 0 0 1rem 0;
    border-radius: 50%;
    border: 1px solid #30afcf;
}

.profile-details {
    flex-grow: 1;
    text-align: left;
    line-height: 1.5;
}

.logo-text {
    font-size: 35px;
    flex-wrap: nowrap;
    font-family: 'cocogoose-light', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 1.2;
    color: var(--text-red);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.my-des {
    font-size: 16px;
    width: 100%;
    color: var(--text-darkest);
    margin: 0 0 1.5rem;
    padding-top: 0.5rem;
    line-height: 1.5;
}

/* Buttons */
.cta-link {
    display: inline-flex;
    flex-wrap: nowrap;
    font-size: 10px;
    font-family: 'cocogoose-light', sans-serif;
    letter-spacing: 0.05em;
    line-height: 1.4em;
    text-transform: capitalize;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    background-color: var(--cta);
    color: white;
    border: 1px solid transparent;
    transition: all 0.3s;
    margin: 0.1rem 0.1rem 0.5rem 0.1rem !important;
    padding: 0.5em 1em;
}

.cv {
    margin: 0.1rem 0.1rem 0.5rem 0.1rem !important;
    padding: 0.5em 3em;
}

.cta-link:hover {
    border-color: var(--cta);
    background: linear-gradient(to right,
            var(--cta-light),
            var(--cta-light));
    color: var(--cta);
}

.cta-link::before {
    content: "";
    position: absolute;
    top: 0;
    left: -4em;
    width: 4em;
    height: 100%;
    background: linear-gradient(to right,
            transparent 1%,
            var(--cta-shine) 40%,
            var(--cta-shine) 60%,
            transparent 100%);
    transition: transform 0.4s ease-in-out;
}

.cta-link:hover::before {
    transform: translateX(15em);
}

/* Stack Icons */

.active-tech {
    filter: grayscale(0%) brightness(1.5);
}

.select-tech {
    font-size: 12px;
    font-weight: 600;
    color: var(--blue-dark);
}

.select-tech-mobile {
    font-weight: 600;
    color: var(--blue-dark);
    display: none;
}

.tech-stack-header {
    display: flex;
    overflow: visible;
    position: relative;
    flex-wrap: wrap;
    justify-content: start;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
    padding: 0;
    width: 90%;
    margin-top: 0.8rem;
    align-items: center;
}

.tech-stack-header-mobile {
    display: none !important;
}

.tech-stack {
    width: fit-content;
    display: flex;
    overflow-x: auto;
    flex-wrap: wrap;
    justify-content: start;
    column-gap: 0.3rem;
    margin-bottom: 1.5rem;
    padding: 0;
    align-items: flex-start;
}

.tech-stack-header img,
.tech-stack img {
    display: flex;
    object-fit: contain;
    transition: filter 0.3s ease;
    border: none;
    position: relative;
    z-index: 1;
    filter: grayscale(40%);
}

.tech-stack-header img {
    height: 2.5vw !important;
    width: 2.5vw !important;
}

.tech-stack img {
    margin-top: 0.5rem;
    height: 1.5vw !important;
    width: 1.5vw !important;
}

.tech-stack-header img:hover,
.tech-stack img:hover {
    filter: grayscale(0%) brightness(1.5);
}

/* Tooltips */
.tech-icon {
    position: relative;
    overflow: visible;
    display: inline-block;
    margin: 0;
}

.tech-icon img {
    cursor: pointer;
    transition: transform 0.2s ease;
    display: block;
}

.tech-icon:hover img {
    transform: scale(1.1);
}

.tooltip {
    font-size: 10px;
    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%) translateY(4px);
    background-color: #6a9aa8;
    color: white;
    padding: 4px 10px;
    border-radius: 4px;
    white-space: nowrap;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.25s ease, transform 0.25s ease;
    z-index: 9999;
}

.tech-icon:hover .tooltip {
    visibility: visible;
    opacity: 0.8;
    transform: translateX(-50%) translateY(-4px);
}


/* Projects Section */

#filtered-section {
    margin-top: 2rem;
}

/* Projects container */
.projects-container {
    width: 100%;
    min-height: 33vh;
}

section h2 {
    font-size: 25px;
    font-family: 'cocogoose-light', sans-serif;
    margin: 2rem 0 1.5rem 0;
    color: var(--app-white);
    font-weight: 500;
}

/* Project ticket */
.project-gallery {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.hidden {
    display: none !important;
    opacity: 0;
    transform: scale(0.95);
}

.project {
    transition: opacity 0.3s ease, transform 0.3s ease;
    padding: 4%;
    background-color: rgba(225, 236, 242, 0.7);
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid var(--app-white);
    box-shadow: 0 2px 10px var(--white-shadow-10);
    transform: translateY(20px);
    animation: fadeInProject 0.8s ease-in-out forwards;
}

.project:hover {
    transform: translateY(-3px);
    box-shadow: 0 2px 10px var(--white-shadow-20);
}

.project:nth-child(1) {
    animation-delay: 0.2s;
}

.project:nth-child(2) {
    animation-delay: 0.4s;
}

.project:nth-child(3) {
    animation-delay: 0.6s;
}

.project:nth-child(4) {
    animation-delay: 0.8s;
}

.project:nth-child(5) {
    animation-delay: 1s;
}

.project .description {
    text-align: left;
    padding: 0.2rem;
    line-height: 1.3;
}

.project .description h3 {
    font-size: 25px;
    font-family: 'cocogoose-light', sans-serif;
    color: var(--blue-dark);
    margin: 0.8rem 0 0.5rem 0;
    font-weight: 500;
}


.project .description p {
    font-size: 16px;
    line-height: 1.5;
    color: var(--text-darkest);
}

.project span {
    font-size: 10px;
    font-weight: 600;
    color: var(--text-red);
    line-height: 1.3;
    display: inline-block;
    margin-top: 0.8rem;
}

/* Featured gif */
.screenshot {
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 15px;
    border: 1px solid #30afcf;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    object-position: top center;
    box-shadow: 0 2px 10px var(--white-shadow-10);
}

/* Footer */
footer {
    font-size: 12px;
    text-align: center;
    padding: 1rem 0;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4rem auto 0;
    color: var(--app-white);
    background-color: var(--blue-dark);
    letter-spacing: 1px;
}


/* Responsive */
@media (max-width: 1300px) {

    .project-gallery {
        grid-template-columns: repeat(2, 1fr);
    }

    header {
        padding: 5rem 0 0 0;
    }

    .profile-details h1 {
        font-size: 35px;
        width: 100%;
    }

    .my-des,
    .project .description p {
        font-size: 16px;
    }

    section h2,
    .project .description h3 {
        font-size: 28px;
    }

    .cta-link {
        font-size: 12px;
        margin-top: 0.8rem;
    }

    .tech-stack-header img,
    .tech-stack img {
        height: 2.2vw !important;
        width: 2.2vw !important;
    }
}

@media (max-width: 1024px) {

    header {
        padding: 6.5rem 0 0 0;
    }

    .headshot {
        margin: -2rem 0 1rem 0;
    }

    .profile-details h1 {
        font-size: 32px;
        white-space: nowrap;
        margin: 0 0 -0.5rem 0;
    }

    .contact,
    .contact a {
        font-size: 17px;
    }

    .cta-link {
        font-size: 12px;
        margin-top: 0.5rem;
    }

    .my-des,
    .project .description p {
        font-size: 16px;
    }

    .select-tech {
        font-size: 14px;
    }

    section h2,
    .project .description h3 {
        font-size: 25px;
    }
}

@media (max-width: 980px) {

    nav {
        gap: 6rem;
    }

    .profile-details h1 {
        font-size: 30px;
    }

    .my-des,
    .project .description p {
        font-size: 15px;
    }

    .contact,
    .contact a {
        font-size: 16px;
    }

    section h2,
    .project .description h3 {
        font-size: 22px;
    }

    .cta-link {
        font-size: 9px;
    }

    .project span {
        font-size: 11px;
    }

    .select-tech-mobile {
        font-size: 13px;
    }

    .tech-stack-header img,
    .tech-stack img {
        height: 24px !important;
        width: 24px !important;
    }
}


@media(max-width: 768px) {

    .layout-container {
        width: 100%;
    }

    .tech-stack-header {
        display: none;
    }

    .tech-stack-header-mobile {
        display: flex !important;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 1.2rem;
        gap: 10px;
        width: 95%;
    }

    .tech-stack-header-mobile img {
        height: 4vw;
        width: 4vw;
        object-fit: contain;
        filter: grayscale(40%);
    }

    .tech-stack-header-mobile img:hover {
        filter: grayscale(0%) brightness(1.5);
    }

    .select-tech {
        display: none;
    }

    .select-tech-mobile {
        display: block;
        margin: 0.5rem 0 0.8rem 0.2rem;
    }

    .project .tech-stack img {
        height: 3vw;
        width: 3vw;
    }

    .profile-details h1 {
        font-size: 25px;
    }

    section h2 {
        font-size: 24px;
    }

    .project .description h3 {
        font-size: 20px;
    }

    .project span {
        font-size: 11px;
    }

    .cta-link {
        font-size: 8px;
    }

    .contact,
    .contact a {
        font-size: 13px;
    }

    .contact,
    .my-des {
        padding-top: 0.2rem;
        line-height: 1.8;
    }

}

@media(max-width: 600px) {

    .layout-container {
        width: 100%;
        padding-left: 4%;
        padding-right: 4%;
    }

    nav {
        gap: 45px;

    }

    a {
        letter-spacing: 0;
    }

    header {
        padding: 4rem 0 0 0;
    }

    .headshot {
        margin: 0 0 1rem 0;
    }

    .project-gallery {
        width: 100%;
    }

    .project p {
        margin-top: 0.2rem;
    }

    .profile-details h1 {
        font-size: 24px;
    }

    section h2 {
        font-size: 24px;
    }

    .project .description h3 {
        font-size: 18px;
    }

    .contact,
    .contact a {
        font-size: 15px;
    }

    .my-des,
    .project .description p {
        font-size: 14px;
    }

    .my-des {
        margin: 0;
    }

    .select-tech-mobile {
        display: block;
    }

    .tech-stack-header {
        display: none;
    }

    .tech-stack-header-mobile {
        display: flex !important;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        column-gap: 10px;
        width: 100%;
    }

    .tech-stack-header-mobile img {
        height: 4.5vw;
        width: 4.5vw;
    }

    .tech-stack img {
        height: 4vw !important;
        width: 4vw !important;
    }

    .cta-link {
        margin: 1rem 0 2rem 0;
        line-height: 1.8;
    }

    footer {
        margin-top: 0;
    }

}

@media(max-width: 565px) {

    .layout-container {
        width: 100%;
        padding-left: 8%;
        padding-right: 8%;
    }

    .profile-section {
        display: flex;
        flex-direction: column;
        gap: 0rem;
    }

    .tech-stack-header-mobile img {
        height: 4.8vw;
        width: 4.8vw;
    }

    .tech-stack img {
        height: 4.8vw !important;
        width: 4.8vw !important;
    }

    .project-gallery {
        grid-template-columns: repeat(1, 1fr);
    }

    .contact,
    .contact a {
        font-size: 13px;
    }

    .cta-link,
    .project span {
        font-size: 12px;
    }

    .profile-details h1 {
        font-size: 20px;
    }

    section h2,
    .project .description h3 {
        font-size: 20px;
    }

}

/* Mobile */
@media(max-width: 430px) {

    .layout-container {
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .profile-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0 1rem;
        gap: 1rem;
    }

    .profile-details {
        width: 100%;
    }

    nav {
        padding-top: 1.3rem;
        gap: 45px;
    }

    .headshot {
        width: 120px;
        height: 120px;
        margin: 0.5rem 0 1rem 0;
    }

    .select-tech-mobile {
        font-size: 12px;
        margin: 1.5rem 0 0.8rem 0;
    }

    .contact,
    .contact a {
        font-size: 11px;
    }

    .cta-link {
        font-size: 10px;
    }

    .profile-details h1 {
        font-size: 17px;
    }

    section h2,
    .project .description h3 {
        font-size: 20px;
    }

    section h2 {
        margin: 1.5rem 0 1rem 0;
    }

    .project span {
        font-size: 12px;
    }

    .my-des,
    .project .description p {
        font-size: 14px;
    }
}

@media(max-width: 330px) {

    .profile-details h1 {
        font-size: 14px;
    }

    .contact,
    .contact a,
    .select-tech-mobile {
        font-size: 9px;
    }

    .project span {
        font-size: 10px;
    }

    .cta-link {
        font-size: 8px;
    }

    section h2,
    .project .description h3 {
        font-size: 18px;
    }

    .my-des,
    .project .description p {
        font-size: 11px;
    }


}
